@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');
body{
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
}
/* header section styles start here */
header{
    background: #FFF;
}

/* nav section styles start here */
nav{
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
}

.nav-logo{
    display: flex;
    align-items: center;
    gap: 20px;
}
.nav-logo img{
    width: 80px;
    height: 40px;
}
.nav-title{
    color: #0B0223;
    font-size: 45px;
}
.letter-g{
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.nav-contact li{
    list-style: none; 
}
.nav-contact{
    display: flex;
    gap: 32px;
    align-items: center;
}
.nav-contact li{
    color: #3C354F;
    font-size: 18px;
}
.nav-contact p{
    color: #3C354F;
    font-size: 18px;
}
.follow-up-icon{
    display: flex;
    align-items: center;
    gap: 24px;
    border-radius: 8px;
background: rgba(11, 2, 35, 0.10);
    padding: 0px 7px 0px 24px;

}
.icon-container i{
    margin-right: 16px;
}
.icon-container i{
    font-size: 30px;
}
.youtube{
    width: 35px;
    height: 24px;
    color: red;  
}
/* banner section styles start here */
.banner-title{
    color: #0B0223;
    font-family: Work Sans;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0px;
}
.banner-goat{
    font-family: Work Sans;
    font-size: 95px;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
margin-top: 0px;
margin-bottom: 24px;
}
.banner-description{
    color: #534C64;
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 500; 
    margin-left: 10px; 
}
.btn-sign{
   padding: 20px 40px;
   color: #FFF;
   font-family: Work Sans;
   font-size: 20px;
   font-weight: 600;
   text-transform: uppercase;
   border-radius: 48px;
   background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
   border: none;
   margin-top: 40px;
   margin-right: 24px;

}
.btn-go{
   padding: 20px 40px; 
   color: #FFF;
   font-family: Work Sans;
   font-size: 20px;
   font-weight: 600;
   text-transform: uppercase;  
   border-radius: 48px;
   background: #4EC5F7;
   border: none;
   margin-top: 40px;
}
.banner-container{
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 120px;
    
}
.banner-content{
}
.banner-image{
}
.banner-image img{
}
/* main section starts here */
main{
    width: 80%;
    margin: 0 auto;
    
}
/* funny section styles start here */
.funny-title{
    color: #0B0223;
    text-align: center;
    font-size: 48px;
    margin-bottom: 16px;
}
.videos{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 48px;
}
.funny-title-description{
    color: #534C64;
    text-align: center;
    font-size: 18px;
}
.funny-image-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    margin-top: 50px;
}
.image-item{
    margin-left: 15px;
}
.funny-description{
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    margin-top: 24px;
}
/* online section starts here */
.online-section{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.online-image-container{
    position: relative;
    
}
.relative-image{
    position: absolute;
    top:400px;
    left: 500px;
}
.online-content{
    max-width: 40%;
    margin-bottom: 260px;
}
.online-content-title{
    color: #0B0223;
    font-size: 48px;
}
.play-games{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.online-description{
    color: #534C64;
    font-size: 18px;
}
/* game section starts here */
.game-section{
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    gap: 13px;
    margin-top: 170px;
    
}
.game-section-container{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    height: 50vh;
    width: 80%;
    margin: 0 auto;
    justify-content: center;
    align-content: center;
}
.games-name h4{
    color: #0B0223;
font-size: 20px;
font-weight: 600;
font-family: Work Sans;
}
.games-name{
    display: flex;
    align-items: center;
    gap: 16px;
    border-radius: 50px;
    background: #FFF;
}
.games-name:hover{ 
    font-size: 20px;
    font-weight: 600;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
border:1px solid #FF42A5;
}
/* footer section styles start here */
footer{
    background: #0B0223;  
    height: 50vh;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}
.nav-logo {
justify-content: center;
}
.footer-contact {
    display: flex;
    justify-content: center;
    margin-top: 0px;
}
.footer-contact ul{
    display: flex;
}
.footer-contact li{
    list-style: none;
    margin-right:60px;
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
}
.social-icon a{
 margin-right: 43px;
 font-size: 35px;
 color: #FFFFFF;
}
.social-icon{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-right: 45px;
}
.privacy-container li{
    margin-right: 60px;
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    list-style: none;
}
.privacy-container ul{
    display: flex;
}
.privacy-container{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.address li{
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;   
    display: flex;
    justify-content: center;
}
.address ul{
    display: flex;
    justify-content: center;
}
.address{
    margin-top: 28px;
}