@media screen and (max-width:576px) {
    nav,.nav-contact{
        flex-direction: column;
    }
    .follow-up-icon{
        margin-bottom:70px;
    }
    .banner-container,.online-section{
        flex-direction: column-reverse;
    }
    .banner-content{
        margin-top: 70px;
    }
    .banner-image img{
        width: 100%;
    }
    .btn-sign{
        padding: 15px 25px; 
        margin-left: 20px;
     }
     .btn-go{
        padding: 15px 25px; 
        margin-left: 10px;
     }
    .funny-image-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .online-section{
        margin-top: 0px;
    }
    .online-content{
        max-width: 78%;
        margin-bottom: 30px;
    }

    .image-item img{
        width: 100%;
    }

    main{
        width: 90%;
        margin: 0 auto;   
    }
    .online-main-image{
    width: 100%;
    }
.relative-image{
    
}
.relative-image img{
   width: 100%;
}
.game-section{
    margin-top: 50px;
}
.game-section-container{
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    gap: 15px;
    width: 90%;
    margin: 0 auto;
    justify-content: center;
    align-content: center;
}
.games-name h4{
font-size: 12px;
}
.game-name img{ 
    /* width: 40px;
    height: 40px; */
}
.game-name {
    gap: 10px;
    border-radius: 50px;
}
footer{
    margin-top: 50px;
    height: 90vh;
}

.footer-nav {
    margin-left:0px;
    
    }
    .footer-contact {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-right: 35px;
    }
.footer-contact li{
    margin-right:25px;
    font-size: 15px;
}
.fotter-amer{
    color: #FFF;
    font-size: 45px;
    font-weight: 700;
}
.social-icon a{
    margin-right: 30px;
   }
   .social-icon{
       margin-top: 30px;
       margin-right:0px;
   }
   .privacy-container li{
    margin-right: 25px;
    font-size: 12px;
}
.privacy-container {
    flex-direction: column;
    justify-content: center;
      align-items: center;
      margin-right: 30px;
}
.address ul{
    flex-direction: column;
    margin-right: 35px;
    margin-top: 0px;
}

}